.App {
  text-align: center;
  height: 100%;
}

h1{
  color: #E0E2DB;
  font-weight: 900;
  font-size: 40px;
}

.tablesContainer{
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.spacing{
  width: 8%;
}